*{margin: 0; padding: 0;}

.logo{
  background-color: black;
  height: 60px;
}


header{
  width: 100%;
  height: 200px;
}

section{
  width: 100%;
  height: 900px;
  background: #fff;
}

footer{
  width: 100%;
  color: #009cff;
  text-align: center;
  background: black;
}

a{
  text-decoration: none;
}

nav{
  background: black;
}

nav ul li{
  background: #000;
  color: #0080d3;
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 50px;
  font-family: 'Lemonada',cursive;
}

nav ul li:hover{
  background: black;
 color: #73ff02;
 cursor: pointer;
 border-bottom: 2px solid #fff;

}

#noticias{
color: #0095f4;
text-align: center;
font-family: 'Lemonada', cursive;
}
